<section class="content-header">
  <h1>
     Todos os Clientes
  </h1>
</section>

<section class="content">
  <div class="row">
    <div *ngFor="let client of clients" class="col-sm-6 col-xs-12">
      <mt-client [client]="client"></mt-client>
    </div>
  </div>

</section>
