<section class="content-header">
    <h1>
       Todos os Produtos
    </h1>
  </section>
  
  <section class="content">
    <div class="row">
      <div *ngFor="let product of products" class="col-sm-6 col-xs-12">
        <mt-product [product]="product"></mt-product>
      </div>
    </div>
  
  </section>
  