<a href="#">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img [src]="product.imagePath"/></span>
      
      <div class="place-info-box-content">
        <span class="place-info-box-text">{{product.name}}</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i>{{product.rating}}</span>
        <span class="place-info-box-detail">{{product.description}}</span>
       </div>
  
    </div>
  
  </a>