<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="client.imagePath"/></span>
    
    <div class="place-info-box-content">
      <span class="place-info-box-text">{{client.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{client.rating}}</span>
      <span class="place-info-box-detail">{{client.sex}}</span>
     </div>

  </div>

</a>