 <!-- INÍCIO DO CONTEÚDO -->
 <section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo!</h1>
     <p>
       
     </p>
    <!-- <a class="btn btn-primary btn-lg" href="main-restaurants.html">Ver Ordem Serviço</a> -->
  </div>

</section>
<!-- FIM DO CONTEÚDO -->